In [12]:
import pandas as pd

In [13]:
raw = pd.read_csv("by_os.csv", comment='#', thousands=',')
raw

,Operating System,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Goal Conversion Rate,Goal Completions,Goal Value
0,Windows,"64,419",63423.0,94479.0,76.00%,1.52,00:01:30,0.00%,0.0,$0.00
1,Macintosh,"47,523",47565.0,81651.0,69.69%,1.75,00:02:06,0.00%,0.0,$0.00
2,Linux,"16,427",16416.0,25164.0,79.78%,1.43,00:01:22,0.00%,0.0,$0.00
3,iOS,"13,128",13192.0,15739.0,81.60%,1.27,00:00:49,0.00%,0.0,$0.00
4,Android,"8,597",8539.0,10771.0,70.66%,1.31,00:01:11,0.00%,0.0,$0.00
...,...,...,...,...,...,...,...,...,...,...
373,12/28/22,399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,12/29/22,394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,12/30/22,342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,12/31/22,271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,NaN,"207,402",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Number of page views per day begins after the 500 pages so cut dataframe:

In [14]:
pages = raw.iloc[:10].copy()
pages

,Operating System,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Goal Conversion Rate,Goal Completions,Goal Value
0,Windows,"64,419",63423.0,94479.0,76.00%,1.52,00:01:30,0.00%,0.0,$0.00
1,Macintosh,"47,523",47565.0,81651.0,69.69%,1.75,00:02:06,0.00%,0.0,$0.00
2,Linux,"16,427",16416.0,25164.0,79.78%,1.43,00:01:22,0.00%,0.0,$0.00
3,iOS,"13,128",13192.0,15739.0,81.60%,1.27,00:00:49,0.00%,0.0,$0.00
4,Android,"8,597",8539.0,10771.0,70.66%,1.31,00:01:11,0.00%,0.0,$0.00
5,(not set),"3,597",3597.0,3603.0,99.44%,1.53,00:00:06,0.00%,0.0,$0.00
6,Chrome OS,366,364.0,423.0,74.00%,1.75,00:01:26,0.00%,0.0,$0.00
7,FreeBSD,2,2.0,2.0,100.00%,1.00,00:00:00,0.00%,0.0,$0.00
8,OpenBSD,2,2.0,2.0,0.00%,2.00,00:07:16,0.00%,0.0,$0.00
9,BlackBerry,1,1.0,1.0,100.00%,1.00,00:00:00,0.00%,0.0,$0.00

In [15]:
pages["Users"] = pages["Users"].str.replace(",", "").astype('int32')
pages["New Users"] = pages["New Users"].astype('int32')
pages["Sessions"] = pages["Sessions"].astype('int32')

In [16]:
pages.Users.sum()

154062

In [17]:
pages.Sessions.sum()

231835

In [18]:
38055/pages.Users.sum()

0.24701094364606457

In [19]:
c=pages["Users"].sum()

In [20]:
37654/c

0.24440809544209474

In [21]:
28705/c

0.18632109150861342

In [22]:
12007/c

0.07793615557373006

In [23]:
9452/c

0.061351923251677896

In [24]:
6152/c

0.03993197543845984

In [25]:
pages.describe()

,Users,New Users,Sessions,Pages / Session,Goal Completions
count,10.000000,10.00000,10.000000,10.000000,10.0
mean,15406.200000,15310.10000,23183.500000,1.456000,0.0
std,22518.892319,22287.05127,35321.599505,0.325037,0.0
min,1.000000,1.00000,1.000000,1.000000,0.0
25%,93.000000,92.50000,107.250000,1.280000,0.0
50%,6097.000000,6068.00000,7187.000000,1.475000,0.0
75%,15602.250000,15610.00000,22807.750000,1.695000,0.0
max,64419.000000,63423.00000,94479.000000,2.000000,0.0

In [26]:
df = pages.drop(columns=["Goal Conversion Rate", "Goal Completions", "Goal Value"])

In [27]:
df

,Operating System,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration
0,Windows,64419,63423,94479,76.00%,1.52,00:01:30
1,Macintosh,47523,47565,81651,69.69%,1.75,00:02:06
2,Linux,16427,16416,25164,79.78%,1.43,00:01:22
3,iOS,13128,13192,15739,81.60%,1.27,00:00:49
4,Android,8597,8539,10771,70.66%,1.31,00:01:11
5,(not set),3597,3597,3603,99.44%,1.53,00:00:06
6,Chrome OS,366,364,423,74.00%,1.75,00:01:26
7,FreeBSD,2,2,2,100.00%,1.00,00:00:00
8,OpenBSD,2,2,2,0.00%,2.00,00:07:16
9,BlackBerry,1,1,1,100.00%,1.00,00:00:00

In [28]:
pd.set_option('display.max_rows', 300)

In [29]:
df[:10]

,Operating System,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration
0,Windows,64419,63423,94479,76.00%,1.52,00:01:30
1,Macintosh,47523,47565,81651,69.69%,1.75,00:02:06
2,Linux,16427,16416,25164,79.78%,1.43,00:01:22
3,iOS,13128,13192,15739,81.60%,1.27,00:00:49
4,Android,8597,8539,10771,70.66%,1.31,00:01:11
5,(not set),3597,3597,3603,99.44%,1.53,00:00:06
6,Chrome OS,366,364,423,74.00%,1.75,00:01:26
7,FreeBSD,2,2,2,100.00%,1.00,00:00:00
8,OpenBSD,2,2,2,0.00%,2.00,00:07:16
9,BlackBerry,1,1,1,100.00%,1.00,00:00:00

In [30]:
x = list(df.columns)
x

['Operating System',
 'Users',
 'New Users',
 'Sessions',
 'Bounce Rate',
 'Pages / Session',
 'Avg. Session Duration']

In [31]:
x[5] = "P/S"
x[6] = "ASD"

In [32]:
df.columns = x

In [33]:
ed_table = df[:100].reset_index(drop=True).fillna('')
ed_table.index = range(1, ed_table.shape[0] + 1)
ed_table.to_latex('by_os.tex', longtable=True)

/var/folders/x5/f0v08d0968dfbr7r4fj55ln80000gn/T/ipykernel_26072/4164442345.py:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  ed_table.to_latex('by_os.tex', longtable=True)

In [34]:
ed_table

   Operating System  Users  New Users  Sessions Bounce Rate   P/S       ASD
1           Windows  64419      63423     94479      76.00%  1.52  00:01:30
2         Macintosh  47523      47565     81651      69.69%  1.75  00:02:06
3             Linux  16427      16416     25164      79.78%  1.43  00:01:22
4               iOS  13128      13192     15739      81.60%  1.27  00:00:49
5           Android   8597       8539     10771      70.66%  1.31  00:01:11
6         (not set)   3597       3597      3603      99.44%  1.53  00:00:06
7         Chrome OS    366        364       423      74.00%  1.75  00:01:26
8           FreeBSD      2          2         2     100.00%  1.00  00:00:00
9           OpenBSD      2          2         2       0.00%  2.00  00:07:16
10       BlackBerry      1          1         1     100.00%  1.00  00:00:00

In [35]:
total=ed_table["Users"].sum()

In [41]:
round(100*8597/total)

6