In [14]:
import pandas as pd

In [15]:
raw = pd.read_csv("by_country.csv", comment='#', thousands=',')
raw

,Country,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Goal Conversion Rate,Goal Completions,Goal Value
0,United States,70735,69166,121658,67.13%,1.81,00:02:08,0.00%,0,$0.00
1,China,11847,11687,12757,90.71%,1.24,00:00:37,0.00%,0,$0.00
2,India,10191,10014,13153,80.76%,1.31,00:01:05,0.00%,0,$0.00
3,United Kingdom,7678,7521,10276,83.05%,1.26,00:01:04,0.00%,0,$0.00
4,Germany,7164,7034,9588,84.09%,1.23,00:01:02,0.00%,0,$0.00
5,Canada,4026,3959,5369,81.26%,1.33,00:01:08,0.00%,0,$0.00
6,France,3637,3554,4815,82.01%,1.28,00:01:07,0.00%,0,$0.00
7,Italy,2593,2532,3586,80.65%,1.29,00:01:17,0.00%,0,$0.00
8,Netherlands,2361,2280,3118,82.10%,1.76,00:01:06,0.00%,0,$0.00
9,Australia,2218,2186,2950,82.95%,1.24,00:00:59,0.00%,0,$0.00
10,South Korea,2120,2084,2703,81.54%,1.35,00:00:55,0.00%,0,$0.00
11,Japan,1963,1928,2382,83.33%,1.31,00:01:09,0.00%,0,$0.00
12,Switzerland,1778,1738,2228,84.52%,1.18,00:00:53,0.00%,0,$0.00
13,Spain,1778,1736,2461,80.82%,1.33,00:01:18,0.00%,0,$0.00
14,Hong Kong,1564,1495,2070,77.15%,1.40,00:01:26,0.00%,0,$0.00
15,Singapore,1332,1308,1712,80.37%,1.30,00:01:00,0.00%,0,$0.00
16,Brazil,1312,1292,1661,82.18%,1.26,00:01:16,0.00%,0,$0.00
17,Russia,1071,1057,1696,85.38%,1.24,00:01:05,0.00%,0,$0.00
18,Israel,1028,1009,1354,82.13%,1.40,00:01:08,0.00%,0,$0.00
19,Taiwan,858,841,1063,81.37%,1.34,00:00:54,0.00%,0,$0.00
20,Sweden,855,835,1090,87.06%,1.16,00:00:46,0.00%,0,$0.00
21,Turkey,853,841,1158,79.45%,1.35,00:01:14,0.00%,0,$0.00
22,Poland,822,802,1096,83.76%,1.20,00:00:49,0.00%,0,$0.00
23,Austria,707,689,972,84.57%,1.18,00:01:01,0.00%,0,$0.00
24,Belgium,702,683,917,83.53%,1.22,00:01:02,0.00%,0,$0.00
25,NaN,156351,153102,231837,74.68%,1.56,00:01:37,0.00%,0,$0.00

In [16]:
raw = raw[:25]

In [17]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                25 non-null     object
 1   Users                  25 non-null     int64
 2   New Users              25 non-null     int64
 3   Sessions               25 non-null     int64
 4   Bounce Rate            25 non-null     object
 5   Pages / Session        25 non-null     float64
 6   Avg. Session Duration  25 non-null     object
 7   Goal Conversion Rate   25 non-null     object
 8   Goal Completions       25 non-null     int64
 9   Goal Value             25 non-null     object
dtypes: float64(1), int64(4), object(5)
memory usage: 2.1+ KB

In [18]:
raw["Users"].sum()

141193

Number of page views per day begins after the 500 pages so cut dataframe:

In [19]:
pages = raw.iloc[:100].copy()
pages

,Country,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Goal Conversion Rate,Goal Completions,Goal Value
0,United States,70735,69166,121658,67.13%,1.81,00:02:08,0.00%,0,$0.00
1,China,11847,11687,12757,90.71%,1.24,00:00:37,0.00%,0,$0.00
2,India,10191,10014,13153,80.76%,1.31,00:01:05,0.00%,0,$0.00
3,United Kingdom,7678,7521,10276,83.05%,1.26,00:01:04,0.00%,0,$0.00
4,Germany,7164,7034,9588,84.09%,1.23,00:01:02,0.00%,0,$0.00
5,Canada,4026,3959,5369,81.26%,1.33,00:01:08,0.00%,0,$0.00
6,France,3637,3554,4815,82.01%,1.28,00:01:07,0.00%,0,$0.00
7,Italy,2593,2532,3586,80.65%,1.29,00:01:17,0.00%,0,$0.00
8,Netherlands,2361,2280,3118,82.10%,1.76,00:01:06,0.00%,0,$0.00
9,Australia,2218,2186,2950,82.95%,1.24,00:00:59,0.00%,0,$0.00
10,South Korea,2120,2084,2703,81.54%,1.35,00:00:55,0.00%,0,$0.00
11,Japan,1963,1928,2382,83.33%,1.31,00:01:09,0.00%,0,$0.00
12,Switzerland,1778,1738,2228,84.52%,1.18,00:00:53,0.00%,0,$0.00
13,Spain,1778,1736,2461,80.82%,1.33,00:01:18,0.00%,0,$0.00
14,Hong Kong,1564,1495,2070,77.15%,1.40,00:01:26,0.00%,0,$0.00
15,Singapore,1332,1308,1712,80.37%,1.30,00:01:00,0.00%,0,$0.00
16,Brazil,1312,1292,1661,82.18%,1.26,00:01:16,0.00%,0,$0.00
17,Russia,1071,1057,1696,85.38%,1.24,00:01:05,0.00%,0,$0.00
18,Israel,1028,1009,1354,82.13%,1.40,00:01:08,0.00%,0,$0.00
19,Taiwan,858,841,1063,81.37%,1.34,00:00:54,0.00%,0,$0.00
20,Sweden,855,835,1090,87.06%,1.16,00:00:46,0.00%,0,$0.00
21,Turkey,853,841,1158,79.45%,1.35,00:01:14,0.00%,0,$0.00
22,Poland,822,802,1096,83.76%,1.20,00:00:49,0.00%,0,$0.00
23,Austria,707,689,972,84.57%,1.18,00:01:01,0.00%,0,$0.00
24,Belgium,702,683,917,83.53%,1.22,00:01:02,0.00%,0,$0.00

In [20]:
pages.describe()

,Users,New Users,Sessions,Pages / Session,Goal Completions
count,25.000000,25.000000,25.000000,25.000000,25.0
mean,5647.720000,5530.840000,8473.320000,1.318800,0.0
std,13895.198609,13589.707229,23863.879443,0.154874,0.0
min,702.000000,683.000000,917.000000,1.160000,0.0
25%,1028.000000,1009.000000,1354.000000,1.240000,0.0
50%,1778.000000,1738.000000,2382.000000,1.290000,0.0
75%,3637.000000,3554.000000,4815.000000,1.340000,0.0
max,70735.000000,69166.000000,121658.000000,1.810000,0.0

In [21]:
pages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                25 non-null     object
 1   Users                  25 non-null     int64
 2   New Users              25 non-null     int64
 3   Sessions               25 non-null     int64
 4   Bounce Rate            25 non-null     object
 5   Pages / Session        25 non-null     float64
 6   Avg. Session Duration  25 non-null     object
 7   Goal Conversion Rate   25 non-null     object
 8   Goal Completions       25 non-null     int64
 9   Goal Value             25 non-null     object
dtypes: float64(1), int64(4), object(5)
memory usage: 2.1+ KB

In [22]:
pages["check"] = pages.Sessions * pages["Pages / Session"]

In [23]:
pages.check.sum()

336786.43999999994

In [24]:
df = pages.drop(columns=["Goal Conversion Rate", "Goal Completions", "Goal Value", "check"])

In [25]:
df

,Country,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration
0,United States,70735,69166,121658,67.13%,1.81,00:02:08
1,China,11847,11687,12757,90.71%,1.24,00:00:37
2,India,10191,10014,13153,80.76%,1.31,00:01:05
3,United Kingdom,7678,7521,10276,83.05%,1.26,00:01:04
4,Germany,7164,7034,9588,84.09%,1.23,00:01:02
5,Canada,4026,3959,5369,81.26%,1.33,00:01:08
6,France,3637,3554,4815,82.01%,1.28,00:01:07
7,Italy,2593,2532,3586,80.65%,1.29,00:01:17
8,Netherlands,2361,2280,3118,82.10%,1.76,00:01:06
9,Australia,2218,2186,2950,82.95%,1.24,00:00:59
10,South Korea,2120,2084,2703,81.54%,1.35,00:00:55
11,Japan,1963,1928,2382,83.33%,1.31,00:01:09
12,Switzerland,1778,1738,2228,84.52%,1.18,00:00:53
13,Spain,1778,1736,2461,80.82%,1.33,00:01:18
14,Hong Kong,1564,1495,2070,77.15%,1.40,00:01:26
15,Singapore,1332,1308,1712,80.37%,1.30,00:01:00
16,Brazil,1312,1292,1661,82.18%,1.26,00:01:16
17,Russia,1071,1057,1696,85.38%,1.24,00:01:05
18,Israel,1028,1009,1354,82.13%,1.40,00:01:08
19,Taiwan,858,841,1063,81.37%,1.34,00:00:54
20,Sweden,855,835,1090,87.06%,1.16,00:00:46
21,Turkey,853,841,1158,79.45%,1.35,00:01:14
22,Poland,822,802,1096,83.76%,1.20,00:00:49
23,Austria,707,689,972,84.57%,1.18,00:01:01
24,Belgium,702,683,917,83.53%,1.22,00:01:02

In [26]:
pd.set_option('display.max_rows', 300)

In [27]:
df[:10]

,Country,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration
0,United States,70735,69166,121658,67.13%,1.81,00:02:08
1,China,11847,11687,12757,90.71%,1.24,00:00:37
2,India,10191,10014,13153,80.76%,1.31,00:01:05
3,United Kingdom,7678,7521,10276,83.05%,1.26,00:01:04
4,Germany,7164,7034,9588,84.09%,1.23,00:01:02
5,Canada,4026,3959,5369,81.26%,1.33,00:01:08
6,France,3637,3554,4815,82.01%,1.28,00:01:07
7,Italy,2593,2532,3586,80.65%,1.29,00:01:17
8,Netherlands,2361,2280,3118,82.10%,1.76,00:01:06
9,Australia,2218,2186,2950,82.95%,1.24,00:00:59

In [28]:
x = list(df.columns)
x

['Country',
 'Users',
 'New Users',
 'Sessions',
 'Bounce Rate',
 'Pages / Session',
 'Avg. Session Duration']

In [29]:
x[5] = "P/S"
x[6] = "ASD"

In [30]:
df.columns = x

In [33]:
def add_proportion_in_parenthesis(dframe, column_name, replace=False):
    assert column_name in dframe.columns
    dframe["proportion"] = 100 * dframe[column_name] / 153926.0
    dframe["proportion"] = dframe["proportion"].apply(lambda x: round(x, 1))
    name = column_name if replace else f"{column_name}-cmb"
    dframe[name] = dframe.apply(lambda row: f"{round(row[column_name])} ({row['proportion']}%)", axis='columns')
    dframe = dframe.drop(columns=["proportion"])
    return dframe

In [45]:
ed_table = df[:100].reset_index(drop=True).fillna('')
ed_table.index = range(1, ed_table.shape[0] + 1)
ed_table = add_proportion_in_parenthesis(ed_table, "Users", replace=True)
ed_table

,Country,Users,New Users,Sessions,Bounce Rate,P/S,ASD
1,United States,70735 (46.0%),69166,121658,67.13%,1.81,00:02:08
2,China,11847 (7.7%),11687,12757,90.71%,1.24,00:00:37
3,India,10191 (6.6%),10014,13153,80.76%,1.31,00:01:05
4,United Kingdom,7678 (5.0%),7521,10276,83.05%,1.26,00:01:04
5,Germany,7164 (4.7%),7034,9588,84.09%,1.23,00:01:02
6,Canada,4026 (2.6%),3959,5369,81.26%,1.33,00:01:08
7,France,3637 (2.4%),3554,4815,82.01%,1.28,00:01:07
8,Italy,2593 (1.7%),2532,3586,80.65%,1.29,00:01:17
9,Netherlands,2361 (1.5%),2280,3118,82.10%,1.76,00:01:06
10,Australia,2218 (1.4%),2186,2950,82.95%,1.24,00:00:59
11,South Korea,2120 (1.4%),2084,2703,81.54%,1.35,00:00:55
12,Japan,1963 (1.3%),1928,2382,83.33%,1.31,00:01:09
13,Switzerland,1778 (1.2%),1738,2228,84.52%,1.18,00:00:53
14,Spain,1778 (1.2%),1736,2461,80.82%,1.33,00:01:18
15,Hong Kong,1564 (1.0%),1495,2070,77.15%,1.40,00:01:26
16,Singapore,1332 (0.9%),1308,1712,80.37%,1.30,00:01:00
17,Brazil,1312 (0.9%),1292,1661,82.18%,1.26,00:01:16
18,Russia,1071 (0.7%),1057,1696,85.38%,1.24,00:01:05
19,Israel,1028 (0.7%),1009,1354,82.13%,1.40,00:01:08
20,Taiwan,858 (0.6%),841,1063,81.37%,1.34,00:00:54
21,Sweden,855 (0.6%),835,1090,87.06%,1.16,00:00:46
22,Turkey,853 (0.6%),841,1158,79.45%,1.35,00:01:14
23,Poland,822 (0.5%),802,1096,83.76%,1.20,00:00:49
24,Austria,707 (0.5%),689,972,84.57%,1.18,00:01:01
25,Belgium,702 (0.5%),683,917,83.53%,1.22,00:01:02

In [46]:
ed_table.to_latex('by_country.tex', longtable=True)

/var/folders/x5/f0v08d0968dfbr7r4fj55ln80000gn/T/ipykernel_55311/1394706550.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  ed_table.to_latex('by_country.tex', longtable=True)

In [47]:
def pad_multicolumn(fname, column_names):
  with open(fname, "r") as f:
    lines = f.readlines()
  for column_name in column_names:
    thres = 0
    # find column index
    for i, line in enumerate(lines):
      if column_name in line and " \\" in line:
        num_columns = len(line.split("&"))
        cols = [c.replace("\\", "").strip() for c in line.split("&")]
        idx = cols.index(column_name)
        cols[idx] = "multicolumn{1}{c}{" + column_name + "}"
        lines[i] = " & ".join(cols).replace("multicolumn", "\\multicolumn") + " \\\\\n"
      if " \\" in line and " & " in line and not column_name in line:
        parts = line.split("&")
        value, percent = parts[idx].replace("\\\\\n", "").replace("\\", "").strip().split()
        if len(percent) > thres: thres = len(percent)
    # second pass
    for i, line in enumerate(lines):
      if " \\" in line and " & " in line and not column_name in line:
        parts = line.replace("\\\\\n", "").replace("\\\\ \n", "").strip().split("&")
        value, percent = parts[idx].replace("\\", "").strip().split()
        parts[idx] = value + "\hphantom{" + "0" * (thres - len(percent) + 1) + "}" + percent.replace("%", "\%")
        lines[i] = " & ".join(parts) + r" \\ " + "\n"
  with open(fname, "w") as f:
    f.write("".join(lines))

In [48]:
pad_multicolumn('by_country.tex', ["Users"])

In [ ]:
ed_table

In [ ]:
ed_table["Users"].sum() - 156351

In [ ]:
141193./153926